<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%-title%></title>

	<link rel="stylesheet" href="/bootstrap.min.css">
	<script src="/bootstrap.bundle.min.js"></script>

</head>

<body>
	<div class="container mt-5">
        <h1><%- title %></h1>
        <form action="" method="post">
            <div class="form-group">
                <label for="inputDescricao">Descrição:</label>
                <input type="text" class="form-control" id="inputDescricao" name="inputDescricao" value="<%= servico.descricao %>" required>
            </div>
            <div class="form-group">
				<label for="inputValorUnitario">Valor Unitário (Inteiro ou Decimal):</label>
				<input type="number" class="form-control" id="inputValorUnitario" name="inputValorUnitario" value="<%= servico.valor_unitario %>" required step="any">
			</div>
			<div class="form-group" style="">
				<a href="/servicos" class="btn btn-primary">VOLTAR</a>			
				<button type="submit" class="btn btn-primary">SALVAR</button>
			</div>
        </form>
    </div>
</body>
</html>