<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title><%- title %></title>

    <link rel="stylesheet" href="/bootstrap.min.css">
    <script src="/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/fullscreen.css">
</head>

<body>
	<div class="container mt-5">
        <h1><%- title %></h1>
		<hr>
		<br>
        <form action="" method="post">

			
            <div class="form-group">
              <label for="inputEmpresaId">Empresa:</label>
              <select class="form-control" name="inputEmpresaId" id="inputEmpresaId" required>
                <% for( let i = 0; i < empresas.length; i++ ) { %>
                    <option value="<%= empresas[i].id %>"><%= empresas[i].razao_social %></option>
				<% } %>
			  </select>
            </div>

            <div class="form-group">
                <label for="inputNotaId">Número da Nota:</label>
                <select type="text" class="form-control" id="inputNotaId" name="inputNotaId" disabled>
					<option value="0">*Indisponível*</option>
					<% if (notas.length != 1) { %>
						<option value="0">Nova Nota</option>
					<% } %>
					<% for( let i = 0; i < notas.length; i++ ) { %>
						<option value="<%= notas[i].id %>">#<%= notas[i].id %> - <%= notas[i].Cliente.razao_social %></option>
					<% } %>
			  	</select>
            </div>

            <div class="form-group">
                <label for="inputCodigo">Código de Verificação:</label>
                <input type="text" class="form-control" id="inputCodigo" name="inputCodigo" placeholder="*indisponível*" readonly>
            </div>

            <div class="form-group">
                <label for="inputClienteId">Cliente:</label>
                <select class="form-control" id="inputClienteId" name="inputClienteId" required>
                    <option value="" disabled selected style="font-style: italic;"> Selecione um cliente </option>
                    <% for (let i = 0; i < clientes.length; i++) { %>
                        <option value="<%= clientes[i].id %>"> <%= clientes[i].razao_social%> </option>
                    <% } %>
                </select>
            </div>
			
            <div class="form-group">
				<label for="inputServicoId">Tipo de Serviço:</label>
                <select class="form-control" id="inputServicoId" name="inputServicoId" required>
					<option value="" disabled selected style="font-style: italic;">Selecione um serviço</option>
                    <% for (let i = 0; i < servicos.length; i++) { %>
                        <option value="<%= servicos[i].id %>"> <%= servicos[i].descricao%> </option>
                    <% } %>
                </select>
            </div>

            <div class="form-group">
				<label for="inputValorUnitario">Valor Unitário:</label>
                <input type="text" class="form-control" id="inputValorUnitario" readonly>
            </div>

            <div class="form-group">
				<label for="inputQuantidade">Quantidade:</label>
                <input type="number" class="form-control" id="inputQuantidade" name="inputQuantidade" required>
            </div>

			
            <div class="form-group">
				<label for="inputPrazo">Prazo de Entrega (dias):</label>
                <input type="number" class="form-control" id="inputPrazo" name="inputPrazo" required value="">
            </div>
			
            <div class="form-group">
                <label for="inputEntrega">Data de Entrega:</label>
                <input type="text" class="form-control" id="inputEntrega" name="inputEntrega" readonly>
            </div>
			
			<div class="form-group">
				<label for="inputSubtotal">Subtotal:</label>
				<input type="text" class="form-control" id="inputSubtotal" name="inputSubtotal" readonly>
			</div>

			<div class="form-group">
				<label for="inputInss">INSS:</label>
				<input type="number" class="form-control" id="inputInss" name="inputInss" placeholder="*indisponível*" readonly>
			</div>
			
			<div class="form-group">
				<label for="inputAliquota">Aliquota:</label>
				<input type="number" class="form-control" id="inputAliquota" name="inputAliquota" placeholder="*indisponível*" readonly>
			</div>
			
			<div class="form-group">
				<label for="inputValorTotal">Valor Total:</label>
				<input type="text" class="form-control" id="inputValorTotal" name="inputValorTotal" placeholder="*indisponível*" readonly>
			</div>

			<div class="form-group">
				<label for="inputObservacao">Observações:</label>
				<textarea class="form-control" id="inputObservacao" name="inputObservacao"></textarea>
			</div>

            <a class="btn btn-primary" href="/extratos">Voltar</a>
            <button type="submit" class="btn btn-success">Salvar</button>
        </form>
    </div>

	<script>
    document.getElementById('inputClienteId').addEventListener('change', function() {
        // Remove a opção padrão quando outra opção é selecionada
        const defaultOption = document.querySelector('#inputClienteId option[value=""]');
        if (defaultOption) {
            defaultOption.remove();
        }
    });

    document.getElementById('inputServicoId').addEventListener('change', function() {
        // Remove a opção padrão quando outra opção é selecionada
        const defaultOption = document.querySelector('#inputServicoId option[value=""]');
        if (defaultOption) {
            defaultOption.remove();
        }
    });

    var servicos = <%- JSON.stringify(servicos) %>;

    // Campo para pegar o valor unitário do produto selecionado
    document.getElementById('inputServicoId').addEventListener('change', function() {
        var selectedServiceId = this.value;
        var selectedService = servicos.find(servico => servico.id === parseInt(selectedServiceId));

        if (selectedService) {
            document.getElementById('inputValorUnitario').value = selectedService.valor_unitario;
        }
    });

    // Campo para entrar com a quantidade do serviço selecionado
    const inputQuantidade = document.getElementById('inputQuantidade');
    inputQuantidade.addEventListener('input', function() {
        calcularSubtotal();
    });

    // Campo para entrar com o prazo de entrega em dias
    const inputPrazo = document.getElementById('inputPrazo');
    inputPrazo.addEventListener('input', function() {
        calcularDataEntrega();
    });

    // Função para calcular o subtotal
    function calcularSubtotal() {
        const quantidade = parseFloat(inputQuantidade.value);
        const valorUnitario = parseFloat(document.getElementById('inputValorUnitario').value);
        const subtotal = quantidade * valorUnitario;
        document.getElementById('inputSubtotal').value = subtotal.toFixed(2);
    }

    // Função para calcular a data de entrega
    function calcularDataEntrega() {
        const prazoEntrega = parseInt(inputPrazo.value);
        const dataAtual = new Date();
        dataAtual.setDate(dataAtual.getDate() + prazoEntrega);
        const ano = dataAtual.getFullYear();
        const mes = String(dataAtual.getMonth() + 1).padStart(2, '0');
        const dia = String(dataAtual.getDate()).padStart(2, '0');
        const dataEntrega = `${ano}-${mes}-${dia}`;
        document.getElementById('inputEntrega').value = dataEntrega;
    }

	// Função para calcular o valor total
	function calcularValorTotal(){
		const subtotal = parseFloat(document.getElementById('inputSubtotal').value);
		const inss = parseFloat(document.getElementById('inputInss').value);
		const aliquota = parseFloat(document.getElementById('inputAliquota').value);
		const valorTotal = subtotal;
		document.getElementById('inputValorTotal').value = valorTotal.toFixed(2);
	}

	</script>

</html>
