<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<title><%- title %></title>
	
	<link rel="stylesheet" href="/bootstrap.min.css">
	<script src="/bootstrap.bundle.min.js"></script>
	
</head>

<style>
    /* Estilize a caixa de confirmação e outras estilizações personalizadas aqui */
</style>

<body>

	<%- include('../partials/navbar.ejs') %>
    
	<h1 style="font-size: 50px; font-weight: bold; text-align: center; margin: 50px;">
        <%- title %>
    </h1>

    <!-- Barra de pesquisa -->
    <div class="container mt-3">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Procurar" aria-label="Procurar" aria-describedby="button-addon">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button" onclick="btnSearch()">Procurar</a>
                <button class="btn btn-success" type="button" onclick="btnCreate()">Adicionar</a>
            </div>
        </div>
    </div>

    <!-- Tabela com os dados das notas de serviço -->
    <br>
    <div class="container mt-3">
        <table class="table">
            <thead>
                <tr>
					<th>Cód.Nota</th>
                    <th>Cód.Item</th>
                    <th>Cliente</th>
                    <th>Serviço</th>
					<th>Valor Unitário</th>
					<th>Quantidade</th>
                    <th>Valor Total</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <!-- Lógica de programação para exibir lista de notas de serviço -->
				<% for(let i = 0; i < nota.length; i++){ %>
                    <tr>
						<td><%= nota[i].id %></td>
						<td><%= nota[i].ItensDaNota %></td>
						<td><%= nota[i].Cliente.razao_social %></td>
						<td><%= nota[i].Servico %></td>
						<td><%= nota[i].Servico %></td>
						<td><%= nota[i].quantidade %></td>
						<td>
							<% if (nota[i].Servico) { %>
							  R$ <%= nota[i].Servico.valor_unitario * nota[i].ItensDaNota.quantidade %>
							<% } else { %>
							  <!-- Se o objeto Servico não estiver definido -->
							  N/A
							<% } %>
						</td>
                        <td>
                            <button class="btn btn-info btn-sm" onclick="btnRead( <%= nota[i].id %> )">Ver</button>
                            <button class="btn btn-warning btn-sm" onclick="btnUpdate( <%= nota[i].id %> )">Editar</button>
							<button class="btn btn-danger btn-sm" onclick="btnDelete( <%= nota[i].id %>)">Excluir</button>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>

    <script>
        function btnSearch() {
            // Lógica de pesquisa de notas de serviço
        }

        function btnCreate() {
            window.location.href = "/notas/create";
        }

        function btnRead(codigo) {
            window.location.href = "/notas/read/" + codigo;
        }

        function btnUpdate(codigo) {
            window.location.href = "/notas/update/" + codigo;
        }

        function btnDelete(codigo, cliente) {
            var confirmacao = confirm('Você está prestes a excluir a nota de serviço do cliente ' + cliente + ' (Código: ' + codigo + '). Esta ação é irreversível. Aperte em "OK" se deseja continuar.'
            );

            if (confirmacao) {
                // Se o usuário confirmar, redirecione para a rota de exclusão com o código da nota de serviço
                window.location.href = "/notas/delete/" + codigo;
            }
        }
    </script>
</body>

</html>