<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%-title%></title>
	<link rel="stylesheet" href="/bootstrap.min.css">
	<script src="/bootstrap.bundle.mim.js"></script>
	<link rel="stylesheet" href="/fullscreen.css">
</head>
<body>
	<%- include('./profile-pdf.ejs') %>
	<div class="container">
		<div class="row">
		  <div class="col-9">
			<div class="btn-group">
			  <a href="/extratos" class="btn btn-primary">VOLTAR</a>
			  <a href="/clientes/read/<%= nota[0].Cliente.id %>" class="btn btn-info">CLIENTE</a>
			  <a href="/extratos/update/<%= nota[0].id %>" class="btn btn-warning">ATUALIZAR</a>
			</div>
		  </div>
		  <div class="col-3 text-end" style="text-align: end;">
			<a href="/extratos/gerar-pdf/<%= nota[0].id %>" class="btn btn-danger">IMPRIMIR</a>
			<!-- <a href="" class="btn btn-danger">IMPRIMIR</a> -->
		  </div>
		</div>
	  </div>
	  
</body>
</html>