<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%-title%></title>
	<link rel="stylesheet" href="/bootstrap.min.css">
	<script src="/bootstrap.bundle.min.js"></script>
	<link rel="stylesheet" href="/fullscreen.css">
</head>
<body>
	
	<div class="container mt-3">
		<h1><%-title%></h1>
		<hr>

		<form action="" method="post">
		
			<div class="form-group">
			  <label for="inputRazaoSocial">Razão Social:</label>
			  <input type="text" name="inputRazaoSocial" id="inputRazaoSocial" class="form-control" placeholder="" aria-describedby="helpId" maxlength="255" required>
			  <small id="helpId" class="text-muted">Help text</small>
			</div>

			<div class="form-group">
			  <label for="inputCNPJ">CNPJ:</label>
			  <input type="text" name="inputCNPJ" id="inputCNPJ" class="form-control" placeholder="" aria-describedby="helpId" minlength="14" maxlength="14" required>
			  <small id="helpId" class="text-muted">Help text</small>
			</div>

			<div class="form-group">
			  <label for="inputEndereco">Endereço:</label>
			  <input type="text" name="inputEndereco" id="inputEndereco" class="form-control" placeholder="" aria-describedby="helpId" minlength="5" maxlength="100" required>
			  <small id="helpId" class="text-muted">Help text</small>
			</div>

			<div class="form-group">
			  <label for="inputMunicipio">Município:</label>
			  <input type="text" name="inputMunicipio" id="inputMunicipio" class="form-control" placeholder="" aria-describedby="helpId" minlength="5" maxlength="100" required>
			  <small id="helpId" class="text-muted">Help text</small>
			</div>

			<div class="form-group">
				<label for="inputEstado">Estado</label>
				<select class="custom-select" name="inputEstado" id="inputEstado" required>
					<option value="SP">São Paulo (SP)</option>
				</select>
			</div>

			<br>
			<a href="/empresa" class="btn btn-primary">VOLTAR</a>
			<button type="submit" class="btn btn-success">SALVAR</button>
		
		</form>
		
	</div>

</body>
</html>