<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<title><%- title %></title>
	
	<link rel="stylesheet" href="/bootstrap.min.css">
	<script src="/bootstrap.bundle.min.js"></script>
	
</head>

<style>
	/* Estilize a caixa de confirmação */
	.custom-confirm {
		background-color: #f5f5f5;
		border: 1px solid #ccc;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            padding: 20px;
            width: 300px;
        }

        /* Estilize o texto da caixa de confirmação */
        .custom-confirm p {
            text-align: justify;
        }	
</style>


<body>

	<%- include('../partials/navbar.ejs') %>

	<h1 style="font-size: 50px; font-weight: bold; text-align: center; margin: 50px;">
		<%- title %>
	</h1>

	<!-- Barra de pesquisa -->
    <div class="container mt-3">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Procurar" aria-label="Procurar" aria-describedby="button-addon">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button" onclick="btnSearch()">Procurar</a>
                <button class="btn btn-success" type="button" onclick="btnCreate()">Adicionar</a>
            </div>
        </div>
    </div>

   

	<!-- Tabela com os dados -->
	<br>
	<div class="container mt-3">
        <table class="table">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
				<!-- Logica de programacao para exibir lista -->
				<!-- *Por favor, fazer as logicas das listas* -->
                <% for(let i = 0; i < clientes.length; i++){ %>
                    <tr>
                        <td><%= clientes[i].id %></td>
                        <td><%= clientes[i].nome %></td>
                        <td><%= clientes[i].telefone %></td>
                        <td>
                            <button class="btn btn-info btn-sm" onclick="btnRead(<%= clientes[i].id %>)">Ver</button>
                            <button class="btn btn-warning btn-sm" onclick="btnUpdate(<%= clientes[i].id %>)">Editar</button>
							<button class="btn btn-danger btn-sm" onclick="btnDelete(<%= clientes[i].id %>, '<%= clientes[i].nome %>')">Excluir</button>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>


    <script>
		function btnSearch(){
			// coddigo
			
		}

		function btnCreate() {
			window.location.href = "clientes/create";
		}

        function btnRead(codigo) {
    		window.location.href = "/clientes/read/" + codigo;
		}

		function btnUpdate(codigo) {
    		window.location.href = "/clientes/update/" + codigo;
		}

        function btnDelete(codigo, nome) {
        	var confirmacao = confirm('Você está prestes a excluir o cadastro do cliente ' + nome + ' (Código: ' + codigo + '). Esta ação é irreversível. Aperte em "OK" se deseja continuar.'
			);

        	if (confirmacao) {
        	    // Se o usuário confirmar, redirecione para a rota de exclusão com o código do cliente
        	    window.location.href = "clientes/delete/" + codigo;
        	}
    	}
    </script>
	<%- include('../partials/logout.ejs') %>
</body>

</html>