<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title><%-title%></title>

    <link rel="stylesheet" href="/bootstrap.min.css">
    <script src="/bootstrap.bundle.min.js"></script>
</head>

<body>

	<div class="container">
		<%- title %>
		<div class="row">

			<div class="col-xs-1-12">
				<div class="card">
			  		<div class="card-body">
						<h3 class="card-title">Descrição:</h3>
						<p class="card-text">Text</p>
			  		</div>
				</div>
		  	</div>

		 	<div class="col-xs-1-12">
				<div class="card">
					<div class="card-body">
						<h3 class="card-title">Valor Unitario:</h3>
						<p class="card-text">R$ 0,00</p>
					</div>
				</div>
			</div>

			<div class="col-xs-1-12">
				<div class="card">
					<div class="card-body">
						<h3 class="card-title">Quantidade:</h3>
						<p class="card-text">x Number</p>
					</div>
				</div>
			</div>

			<div class="col-xs-1-12">
				<div class="card">
					<div class="card-body">
						<h3 class="card-title">Subtotal:</h3>
						<p class="card-text">R$ 0,00</p>
					</div>
				</div>
			</div>

			
		</div>

	</div>
    
</body>
</html>
