<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
</head>
<body>
    <h1>ALTERAR CLIENTES</h1>

    <form action="alterar.php" method="post">
        Digite o codigo do produto a ser alterado:
        <input type="text" name="codigo" size="10"> <br>

        Digite a nova descrição:
        <input type="text" name="descricao" size="30"> <br>

        Digite a nova quantidade:
        <input type="text" name="qtd" size="10"> <br>

        <input type="submit" value="ALTERAR">
    </form>
    
</body>
</html>