<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%- title %> </title>
</head>
<body>
	<h1>Você realmente deseja apagar este cliente?</h1>
    <form id="deleteForm" method="post">
        Digite o codigo do cliente a ser removido:
        <input type="text" name="id" id="id" value="<%= clientId %>"><br>
        <input type="submit" value="APAGAR">
    </form>
	<script type="text/javascript">
		document.getElementById("deleteForm").onsubmit = function() {
		  var codigoValue = document.getElementById("id").value;
		  var actionURL = "/clients/delete/" + codigoValue;
		  this.action = actionURL;
		};
	  </script>
</body>
</html>