<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<title><%- title %></title>

	<link rel="stylesheet" href="/bootstrap.min.css">
	<script src="/bootstrap.bundle.min.js"></script>

</head>

<style>
	.card-img-top {
		width: 100px; /* Defina a largura desejada */
		height: 100px; /* Defina a altura desejada */
		background-color: gray; /* Defina a cor de fundo desejada */
		align-self: center;
	}
	.card-text {
		text-align: justify;
		text-indent: 1cm;
	}
</style>

<body>
	<%- include('./partials/navbar.ejs') %>
	<div class="content">
		<!-- Conteúdo principal do seu aplicativo -->
		<h2>Conteúdo Principal</h2>
		<p>Bem-vindo à minha página!</p>
	</div>
</body>

</html>