<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<title><%- title %></title>

	<link rel="stylesheet" href="/bootstrap.min.css">
	<script src="/bootstrap.bundle.min.js"></script>

</head>

<style>
	.card-img-top {
		width: 100px; /* Defina a largura desejada */
		height: 100px; /* Defina a altura desejada */
		background-color: gray; /* Defina a cor de fundo desejada */
		align-self: center;
	}
	.card-text {
		text-align: justify;
		text-indent: 1cm;
	}
</style>

<body>
	<%- include('./partials/navbar.ejs') %>
	
	<div class="card-deck">
		<div class="card">
			<img class="card-img-top" src="" alt="Imagem de capa do card" >

			<div class="card-body">
			<h5 class="card-title">Controle de clientes</h5>
			<p class="card-text">Permite cadastrar informações dos clientes que integra-se  com outras funcionalidades, tornando a gestão eficiente e estratégica.</p>
			</div>
		</div>

		<div class="card">
			<img class="card-img-top" src="" alt=Cadastre, edite, exclua a controle todas as informações referentes ao clientes do consultório"Imagem de capa do card">

			<div class="card-body">
			<h5 class="card-title">Entrada de notas</h5>
			<p class="card-text">Permite o registro detalhado de notas e documentos, facilitando a organização e acesso a informações importantes.</p>
			</div>
		</div>

		<div class="card">
			<img class="card-img-top" src="" alt="Imagem de capa do card">

			<div class="card-body">
			<h5 class="card-title">Serviços</h5>
			<p class="card-text">Possibilita o gerenciamento de informações sobre os serviços oferecidos, incluindo descrições e preços.</p>
			</div>
		</div>

		<div class="card">
			<img class="card-img-top" src="" alt="Imagem de capa do card">

			<div class="card-body">
			<h5 class="card-title">Usuários do sistema</h5>
			<p class="card-text">Permite o cadastro e gerenciamento de usuários, com perfis e permissões personalizadas.</p>
			</div>
		</div>
	</div>
	<%- include('./partials/logout.ejs') %>
</body>

</html>