<%- include('./include/header.ejs') %>
<%- include('./include/navbar.ejs') %>

<style>
    /* Estilize a caixa de confirmação e outras estilizações personalizadas aqui */
</style>

<body>
    <h1 style="font-size: 50px; font-weight: bold; text-align: center; margin: 50px;">
        <%- title %>
    </h1>

    <!-- Barra de pesquisa -->
    <div class="container mt-3">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Procurar" aria-label="Procurar" aria-describedby="button-addon">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button" onclick="procurarServicos()">Procurar</a>
                <button class="btn btn-success" type="button" onclick="adicionarServico()">Adicionar</a>
            </div>
        </div>
    </div>

    <!-- Tabela com os dados dos serviços -->
    <br>
    <div class="container mt-3">
        <table class="table">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Descrição</th>
                    <th>Valor Unitário</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <!-- Lógica de programação para exibir lista de serviços -->
            </tbody>
        </table>
    </div>

    <script>
        function procurarServicos() {
            // Lógica de pesquisa de serviços
        }

        function adicionarServico() {
            window.location.href = "services_control/create";
        }

        function verServico(codigo) {
            window.location.href = "/services_control/read/" + codigo;
        }

        function editarServico(codigo) {
            window.location.href = "/services_control/update/" + codigo;
        }

        function excluirServico(codigo, descricao) {
            var confirmacao = confirm('Você está prestes a excluir o serviço "' + descricao + '" (Código: ' + codigo + '). Esta ação é irreversível. Aperte em "OK" se deseja continuar.'
            );

            if (confirmacao) {
                // Se o usuário confirmar, redirecione para a rota de exclusão com o código do serviço
                window.location.href = "services_control/delete/" + codigo;
            }
        }
    </script>
</body>

<%- include('./include/footer.ejs') %>
