<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>

	<div class="container">
		<h1>Notas</h1>
		<% for( let i = 0; i < notas.length; i++ ) { %>
			<p>ID: <%= notas[i].id %></p>
			<p>ClienteID: <%= notas[i].ClienteId %></p>
			<p>ClienteID: <%= notas[i].Cliente %></p>
			<p>EmpresaID<%= notas[i].EmpresaId %></p>
		<% } %>
	</div>

</body>
</html>