<style>
	body {
		background-color: #f8f9fa;
		margin: 50px;
	}

	.container-md {
		background-color: #ffffff;
		padding: 20px;
		border-radius: 10px;
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	}

	h1 {
		color: #007bff;
	}

	.info-text {
		color: #6c757d;
	}

	.function-title {
		color: #007bff;
		margin-bottom: 20px;
	}

	.function-box {
		background-color: #007bff;
		color: #ffffff;
		border: none;
		border-radius: 10px;
		padding: 20px;
		margin-bottom: 20px;
	}

	.function-description {
		margin-top: 10px;
	}
</style>
</head>

<body>

<div class="container-md">
	<!-- Título -->
	<h1 class="text-center">Bem-vindo(a) ao CRISLU WEBAPP!</h1>

	<!-- Informações do Projeto -->
	<div class="mt-4">
		<p class="text-center info-text">Este projeto é um objeto acadêmico criado e desenvolvido para o Laboratório de Próteses Dentárias CRISLU. Ele consiste em um sistema para o gerenciamento interno de informações e extratos de serviço. Para usá-lo, basta selecionar as opções através da barra de navegação e para deslogar, use a opção de usuário.</p>
	</div>

	<!-- Links para Principais Funções -->
	<div class="mt-4">
		<h5 class="text-center function-title">Principais Funções do Sistema</h5>
		<div class="text-center">
			<a href="#" class="btn function-box">
				<h4 class="mb-1">Clientes</h4>
				<p class="function-description">Cadastre, edite e exclua informações de clientes.</p>
			</a>
ss
			<a href="#" class="btn function-box">
				<h4 class="mb-1">Extratos</h4>
				<p class="function-description">Visualize e gerencie extratos de serviço.</p>
			</a>

			<a href="#" class="btn function-box">
				<h4 class="mb-1">Serviços</h4>
				<p class="function-description">Gerencie informações sobre serviços oferecidos.</p>
			</a>

			<a href="#" class="btn function-box">
				<h4 class="mb-1">Empresa</h4>
				<p class="function-description">Acesse dados e informações sobre a empresa.</p>
			</a>

			<a href="#" class="btn function-box">
				<h4 class="mb-1">Usuário</h4>
				<p class="function-description">Acesse e gerencie as configurações de usuário.</p>
			</a>
		</div>
	</div>
</div>

</body>