
<footer class="bg-dark" style="
  margin-top: 2%;
  margin-bottom: 2%;
  height: 60px;
  display: flex; /* Tornando o header um container flexível */
  align-items: center; /* Centralizando verticalmente */
">
	<div class="container d-grid gap-2 d-md-flex justify-content-md-end">
		<a class="btn btn-danger btn-lg me-md-2" href="/logout">DESCONECTAR</a>
	</div>
</footer>
