<div class="container" style="
margin-top: 15px;
margin-bottom: 15px;
">
	<ul class="nav nav-pills nav-fill">
		<li class="nav-item"><a class="nav-link active" href="/"> MENU </a></li>
		<li class="nav-item"><a class="nav-link" href="/clientes"> CLIENTE </a></li>
		<li class="nav-item"><a class="nav-link" href="/notas"> NOTAS </a></li>
		<li class="nav-item"><a class="nav-link" href="/servicos"> SERVIÇOS </a></li>
		<li class="nav-item"><a class="nav-link" href="/funcionarios"> FUNCIONÁRIOS </a></li>
		<li class="nav-item"><a class="nav-link" href="/usuarios"> USUÁRIOS </a></li>
	</ul>
</div>
<hr style="
	background-color: black;
	height: 5px;
	border: none;
">