<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/navbar.css">
</head>
<body>
  <nav class="navbar">
    <div class="container">
      <a class="logo" href="/home">PROJETO LAVOISIER</a>
      <ul class="nav-list">
        <li><a href="/clientes">Clientes</a></li>
        <li><a href="/notas">Notas</a></li>
        <li><a href="/servicos">Serviços</a></li>
        <li class="nav-dropdown">
          <a href="/usuarios" class="nav-dropdown-toggle">Usuários</a>
          <div class="nav-dropdown-content">
            <a href="/usuarios/create">Adicionar</a>
            <a href="">Meu Perfil</a>
            <a href="/logout">Deslogar</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Restante do conteúdo da sua aplicação -->
</body>
</html>
