
<header class="bg-dark" style="
  margin-top: 2%;
  margin-bottom: 2%;
  height: 60px;
  display: flex; /* Tornando o header um container flexível */
  align-items: center; /* Centralizando verticalmente */
">
  <div class="container">
    <ul class="nav nav-pills nav-fill">
		<li class="nav-item"><a class="nav-link active bg-dark" href="/home"> MENU </a></li>
		<li class="nav-item" style="margin-right: 0%; margin-left: 1%;"><a class="nav-link active" href="/clientes"> CLIENTE </a></li>
		<li class="nav-item" style="margin-right: 0%; margin-left: 1%;"><a class="nav-link active" href="/notas"> NOTAS </a></li>
		<li class="nav-item" style="margin-right: 0%; margin-left: 1%;"><a class="nav-link active" href="/servicos"> SERVIÇOS </a></li>
		<!-- <li class="nav-item" style="margin-right: 0%; margin-left: 1%;"><a class="nav-link active" href="/funcionarios"> FUNCIONÁRIOS </a></li> -->
		<li class="nav-item" style="margin-right: 0%; margin-left: 1%;"><a class="nav-link active" href="/usuarios"> USUÁRIOS </a></li>
	  </ul>
    </ul>
  </div>
</header>
