<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/default.css">
    <title> <%- title %> </title>
</head>

<header>

</header>

<!--
    navbar.ejs  (caso necessario)
    footer.ejs
-->
