<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<title><%- title %></title>
	
	<link rel="stylesheet" href="/bootstrap.min.css">
	<script src="/bootstrap.bundle.min.js"></script>
	
</head>

<style>
    /* Estilize a caixa de confirmação e outras estilizações personalizadas aqui */
</style>

<body>

	<%- include('../partials/navbar.ejs') %>
	
    <h1 style="font-size: 50px; font-weight: bold; text-align: center; margin: 50px;">
        <%- title %>
    </h1>

    <!-- Barra de pesquisa -->
    <div class="container mt-3">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Procurar" aria-label="Procurar" aria-describedby="button-addon">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button" onclick="btnSearch()">Procurar</a>
                <button class="btn btn-success" type="button" onclick="btnCreate()">Adicionar</a>
            </div>
        </div>
    </div>

    <!-- Tabela com os dados dos usuários -->
	<br>
	<div class="container mt-3">
		<table class="table">
			<thead>
				<tr>
					<th>Código</th>
					<th>Usuário</th>
					<th>É Administrador?</th>
					<th>Funcionário ID</th>
					<th>Ações</th>
				</tr>
			</thead>
			<tbody>
				<!-- Lógica de programação para exibir lista de usuários -->
				<% for(let i = 0; i < usuarios.length; i++){ %>
					<tr>
						<td><%= usuarios[i].id %></td>
						<td><%= usuarios[i].username %></td>
						<td><%= usuarios[i].isAdmin %></td>
						<td><%= usuarios[i].FuncionarioID %></td>
						<td>
							<button class="btn btn-warning btn-sm" type="button" onclick="btnUpdate( <%= usuarios[i].id %> )">Editar</button>
							<button class="btn btn-danger btn-sm" type="button" onclick="btnDelete( <%= usuarios[i].id %> )">Excluir</button>
						</td>
					</tr>
				<% } %>
			</tbody>
		</table>
    </div>

    <script>
        function btnSearch() {
            // Lógica de pesquisa de usuários
        }

        function btnCreate() {
            window.location.href = "/usuarios/create";
        }

        function btnRead(codigo) {
            window.location.href = "/usuarios/read/" + codigo;
        }

        function btnUpdate(codigo) {
            window.location.href = "/usuarios/update/" + codigo;
        }

        function btnDelete(codigo) {
            var confirmacao = confirm('Você está prestes a excluir o usuário "' + '" (Código: ' + codigo + '). Esta ação é irreversível. Aperte em "OK" se deseja continuar.'
            );

            if (confirmacao) {
                // Se o usuário confirmar, redirecione para a rota de exclusão com o código do usuário
                window.location.href = "usuarios/delete/" + codigo;
            }
        }
    </script>
	<%- include('../partials/logout.ejs') %>
</body>

</html>